<define name="FormShell">
    <form>
        <div>
            <h2>{{title}}</h2>
            {{ if formErr }}
            <p>{{ errMessage }}</p>
            {{ else }}
            <p></p>
            {{ end }}
        </div>
        {{ if open }}
        <ul>
            {{...children}}
        </ul>
        {{ end }}
    </form>
</define>

<define name="NavItem">
    <li>
        <a href="{{href}}">{{text}}</a>
    </li>
</define>

<define name="LoginForm">
    <FormShell title="Login">
        <NavItem href="/" text="Home" />
        <NavItem href="/about" text="About" />
        <NavItem href="/contact" text="Contact" />
    </FormShell>
</define>

<define name="CustomerList">
    <ul>
        {{ for customer in []Customer }}
        <li>
            <p>{{customer.Name}}</p>
        </li>
        {{ end }}
    </ul>
</define>
